<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia placeat, quo harum aperiam suscipit perspiciatis. Soluta modi voluptate, magni ab odit a ipsum explicabo consectetur voluptatibus, qui provident quasi sed. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quis deleniti iusto sed perferendis optio dolorum sint velit, reprehenderit placeat a nam dolorem odit temporibus hic unde sit quas. Aliquam, nulla.
</p>